body {
  background-color: #f3f7fa;
  color: #494949;
  font-size: 14px;
}

.app-wrapper {
  background-color: #f3f7fa;
}

.app-logo {
  margin-left: calc(100vw / 2 - 35px);
  margin-top: 40px;
  margin-bottom: 40px;
  width: 70px;
}

.row {
  display: flex;
  align-items: flex-start;
  width: 820px;
  margin: 0 auto;
}

/* Aside block */

.currency-select-field {
  margin-bottom: 30px;
}

.currency-select {
  color: red;
}

.check-transfer-list {
  margin-left: 20px;
}

.transfer-filter-legend {
  margin-left: -18px;
}

/* .flight-stops-filter-item {
  width: 100%;
}

.flight-stops-filter-item:hover {
  background-color: #f1fcff;
} */
